<div class="grid-container">
  <h1 class="mat-h1">博文列表</h1>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile *ngFor="let blogPost of blogPosts">
      <a routerLink="/article/{{blogPost.id}}">
        <mat-card class="dashboard-card" matRipple>
          <mat-card-header>
            <mat-card-title>
              {{blogPost.name}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div><span>{{blogPost.description}}</span></div>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
